html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Full-page background */
body {
  background-color: #020618;
  /* dark cosmic background */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  overflow-x: hidden;
  /* prevent accidental sideways scroll */
}